.shop {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  margin-top: 2rem;
  gap: 2rem;
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  align-self: center;
  flex-grow: 1;
}

.shop h1 {
  grid-column: span 2;
  font-size: 1.75rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

.category-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d3d3d3;
  padding: 0 1rem;
}

.category-container h2 {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

.category-container ul {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: rgba(0, 0, 0, .55);
}

.category-container ul li {
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.category-container ul li:hover {
  background-color: #e4e4e4;
  color: #000000;
}

.category-container ul li.active {
  background-color: #000000;
  color: #ffffff;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2.5rem;
  width: 100%;
}

.loading {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .shop {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 1.25rem;
    flex-grow: 0;
  }

  .shop h1 {
    grid-column: 1;
    font-size: 1.5rem;
  }

  .category-container {
    border: none;
    padding: 0;
  }

  .category-container h2 {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .product-list {
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
}

