.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav ul li {
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.search-bar {
  width: 480px;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar:focus {
  outline: #000;
}

.search-bar input {
  font-size: inherit;
  font-style: inherit;
  background-color: transparent;
  border: none;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

.search-bar:focus-within {
  outline: 1px solid #000000;
}

.lg-hidden {
  display: none;
}

.bag-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

@media only screen and (max-width: 768px) {
  .sm-show {
    display: block;
  }

  .sm-hidden {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav ul {
    gap: 16px;
  }

  .mobile-nav-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100svh;
    background-color: rgba(0, 0, 0, .75);
    visibility: hidden;
  }

  .mobile-nav-container.show {
    visibility: visible;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #fff;
    width: 80%;
    padding: 1rem 1rem;
  }

  .mobile-nav-icons {
    display: flex;
    gap: 12px;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .mobile-nav ul li {
    font-weight: 700;
  }
  
  .search-bar {
    width: 100%;
  }
}